CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
config.h
scripts/popc-runtime-env.in
scripts/popc-runtime-env.sh
scripts/popc-user-env.csh
scripts/popc-user-env.sh
scripts/popc_script_setup
scripts/popc_setup
scripts/popcrun
services/popcobjrun
install_manifest.txt
lib/dynamic/*.o
lib/dynamic/*.a
services/lib/*.o
services/lib/*.a
services/lib/appservice
services/lib/jobmgr
services/lib/jobmgr_launcher
services/lib/localservice_launcher
services/lib/popc_search_node
services/lib/popfilemanager
parser/parser.tab.cc
parser/parser.tab.h
parser/parser.yy.cc
parser/popcc.cc
parser/popcc
parser/popcpp
test/*/main
test/*/_popc*
__cmd_to_execute__
